@model GuestBook.Models.CreateMessageViewModel
@* @model GuestBook.Models.Message *@

@{
    ViewData["Title"] = "Create Message";
}

<h6>Views/Messages/Create</h6>
<h6>Создание сообщения</h6>
<h6>Мы на странице создания нового сообщения</h6>
<hr />
<h6>Привет пользователь @Context.Session.GetString("Name") !!! Можешь писать своё сообщение</h6>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group mb-3">
                <label asp-for="NewMessage.MessageContent" class="control-label"></label>
                <textarea asp-for="NewMessage.MessageContent" class="form-control"></textarea>
                <span asp-validation-for="NewMessage.MessageContent" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">                
                <input type="submit" value="Добавить сообщение в базу данных" class="btn btn-primary"/>                
            </div>            
            <div class="form-group mb-3">
                <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Выход из системы на домашнюю страницу (logout)</a>
            </div>
            <div class="form-group mb-3">
                <a asp-action="Index" asp-controller="GuestBook" class="btn btn-warning">Вернуться на домашнюю страницу</a>
            </div>
        </form>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Сообщение</th>
            <th>Дата сообщения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>@(message.User != null ? message.User.Name : "Unknown User")</td>
                <td>@message.MessageContent</td>
                <td>@message.MessageDate</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
